<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Guru99Selenium.AppTest"/>
      <class name="day1.Day1MobileMenu"/>
      <class name="day02.Day2MobileMenu"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
